<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/homepage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <title>homepage</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h2>Bem vindo! {{ user }}</h2>
      </div>
        <div class="table-header">
            <table id="user-table">
              <tr>
                  <div class="th-margin">
                      <th>ID</th>
                  </div>
                <div class="th-margin">
                      <th>Nome</th>
                  </div>
                  <div class="th-margin">
                      <th>Email</th>
                  </div>
                  <div class="th-margin">
                      <th>Create_AT</th>
                  </div>
              </tr>
            </table>
        </div>
        <div class="btn-flex">
            <div class="link-edit"><button class="btn" id="btn">Editar informações</button></div>
        </div>
    </div>


    <script
      src="https://kit.fontawesome.com/f9e19193d6.js"
      crossorigin="anonymous"
    ></script>

    <script>
        const btn = document.getElementById("btn");
        btn.addEventListener("click", edit);
        function edit() {
            event.preventDefault();
            window.location.href = "/profile/edit";
        }

        const token = localStorage.getItem("authToken");
        console.log(token);
        if (!token) {
            window.location.href = "/auth/login";
        }

        var myHeaders = new Headers();
        myHeaders.append("Authorization", "Bearer " + token);

        var requestOptions = {
          method: 'GET',
          headers: myHeaders,
          redirect: 'follow'
        };

        fetch("/profile/api", requestOptions)
          .then(response => response.text())
          .then(result => {
            console.log(result);
            const user = JSON.parse(result);
            const table = document.getElementById("user-table");
            const row = table.insertRow();
            const idCell = row.insertCell();
            const nameCell = row.insertCell();
            const emailCell = row.insertCell();
            const createCell = row.insertCell();
            idCell.innerHTML = user.id;
            nameCell.innerHTML = user.name;
            emailCell.innerHTML = user.email;
            createCell.innerHTML = user.create_at;
          })

    </script>
  </body>
</html>
