<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
    <h1>Registro</h1>
    <form method="post">
        <input type="text" name="username" placeholder="username">
        <input type="text" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <input type="submit" name="enviar">
    </form>
    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', function (e) {
            e.preventDefault();
            const data = new FormData(form);
            const xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://127.0.0.1:5000/auth/register');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify(Object.fromEntries(data)));
        });
    </script>
</body>
</html>