<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <title>Edit</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h2>Edite seus dados</h2>
      </div>

      <form id="form" class="form" method="post">
        <div class="form-control">
          <label for="username">Nome</label>
          <input
            type="text"
            id="username"
            placeholder="Digite seu nome de usuário..."
          />
          <i class="fas fa-exclamation-circle"></i>
          <i class="fas fa-check-circle"></i>
          <small>Mensagem de erro</small>
        </div>

        <div class="form-control">
          <label for="email">Email</label>
          <input type="text" id="email" placeholder="Digite seu email.." />
          <i class="fas fa-exclamation-circle"></i>
          <i class="fas fa-check-circle"></i>
          <small>Mensagem de erro</small>
        </div>

        <div class="form-control">
          <label for="password">Senha</label>
          <input
            type="password"
            id="password"
            placeholder="Digite sua senha..."
          />
          <i class="fas fa-exclamation-circle"></i>
          <i class="fas fa-check-circle"></i>
          <small>Mensagem de erro</small>
        </div>

        <div class="form-control">
          <label for="password-confirmation">Confirmação de senha</label>
          <input
            type="password"
            id="password-confirmation"
            placeholder="Digite sua senha novamente..."
          />
          <i class="fas fa-exclamation-circle"></i>
          <i class="fas fa-check-circle"></i>
          <small>Mensagem de erro</small>
        </div>
        <h5>Preencha todos os dados!</h5>
        <button type="submit">Enviar</button>
      </form>
    </div>

    <script
      src="https://kit.fontawesome.com/f9e19193d6.js"
      crossorigin="anonymous"
    ></script>

    <script>

        const form = document.getElementById("form");
        const username = document.getElementById("username");
        const email = document.getElementById("email");
        const password = document.getElementById("password");
        const passwordConfirmation = document.getElementById("password-confirmation");


        const token = localStorage.getItem("authToken");
        console.log(token);
        if (!token) {
            window.location.href = "/auth/login";
        }

        form.addEventListener("submit", (e) => {
          e.preventDefault();
          if(checkInputs()){
            send_data();
          }
        });

        function send_data() {
            const data = {
                username: username.value,
                email: email.value,
                password: password.value,
            };

            const options = {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": "Bearer " + token
                },
                body: JSON.stringify(data),
            };

            fetch("http://127.0.0.1:5000/profile/edit", options)
                .then((res) => res.json())
                .then((data) => {
                  window.alert(data.message);
                  localStorage.clear();
                  window.location.href = "http://127.0.0.1:5000/auth/login";
                });
        }

        function checkInputs() {
          const usernameValue = username.value;
          const emailValue = email.value;
          const passwordValue = password.value;
          const passwordConfirmationValue = passwordConfirmation.value;

          if (usernameValue === "") {
            setErrorFor(username, "O nome de usuário é obrigatório.");
          } else {
            setSuccessFor(username);
          }

          if (emailValue === "") {
            setErrorFor(email, "O email é obrigatório.");
          } else if (!checkEmail(emailValue)) {
            setErrorFor(email, "Por favor, insira um email válido.");
          } else {
            setSuccessFor(email);
          }

          if (passwordValue === "") {
            setErrorFor(password, "A senha é obrigatória.");
          } else if (passwordValue.length < 7) {
            setErrorFor(password, "A senha precisa ter no mínimo 7 caracteres.");
          } else {
            setSuccessFor(password);
          }

          if (passwordConfirmationValue === "") {
            setErrorFor(passwordConfirmation, "A confirmação de senha é obrigatória.");
          } else if (passwordConfirmationValue !== passwordValue) {
            setErrorFor(passwordConfirmation, "As senhas não conferem.");
          } else {
            setSuccessFor(passwordConfirmation);
          }

          const formControls = form.querySelectorAll(".form-control");

          const formIsValid = [...formControls].every((formControl) => {
            return formControl.className === "form-control success";
          });

          if (formIsValid) {
            console.log("O formulário está 100% válido!");
            return true;
          }
        }

        function setErrorFor(input, message) {
          const formControl = input.parentElement;
          const small = formControl.querySelector("small");

          // Adiciona a mensagem de erro
          small.innerText = message;

          // Adiciona a classe de erro
          formControl.className = "form-control error";
        }

        function setSuccessFor(input) {
          const formControl = input.parentElement;

          // Adicionar a classe de sucesso
          formControl.className = "form-control success";
        }

        function checkEmail(email) {
          return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(
            email
          );
        }
    </script>
  </body>
</html>
